* {
    padding: 0;
    margin: 0;
}
li{
    list-style: none;
}
a {
    text-decoration: none;
    color: white;
    cursor: crosshair;
}
body{
    display: grid;
    grid-template-columns: 25vh 1fr;
    grid-template-rows: auto auto 65vh 30vh 98vh 30vh 5vh 40vh;
    gap: 5px;
    padding: 5px;

    background-color: green;
    color: white;
    font-family: "Electrolize",sans-serif;
}
.btn{
    background-color: #018c33;
    padding: 5px 10px;
    transition: 0.2s;
}
.btn:hover{
    background-color: #02eb55;
}
.btn_hcontainer > li > a{
    padding: 5px 10px;
    transition: 0.2s;
}
.btn_hcontainer > li > a:hover{
    background-color: #018c33;
}
.imp{
    color: #02eb55 !important;
}
.profile{
    width: 25vh;
    grid-row: 1/3;
}
/* Navigation */
nav{
    grid-row: 1/3;
    display: grid;
    gap: 5px;
    grid-template-rows: repeat(2,1fr);
}
nav>ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding: 0 5rem;
    background-color: black;
}
.highlights{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5rem;
    background-color: black;
}
.hero{
    background-color: black;
    grid-column: 1/-1;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}
.hero_buttons{
    display: flex;
    gap: 20px;
}
.about{
    background-color: black;
    grid-column: 1/-1;

    display: flex;
    align-items: center;
    justify-content: space-around;
}
.about>p{
    width: 350px;
}
.work{
    background-color: black;
    grid-column: 1/-1;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.services{
    background-color: black;
    grid-column: 1/-1;

    display: flex;
    align-items: center;
    justify-content: center;
}
.connect{
    background-color: black;
    grid-column: 1/-1;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.footer{
    background-color: rgb(5, 35, 11);
    grid-column: 1/-1;
    padding: 5vh 0;

    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-rows: 2fr 2fr 1fr 1fr;
}
.fsocials{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.sitemap{
    grid-row: 1/-1;
    grid-column: 2;
}
.socials{
    grid-row: 1/-1;
    grid-column: 3;
}
.fcenter{
    display: flex;
    justify-content: center;
    gap: 10px;
    align-items: center;
    flex-direction: column;
}
/* animated body background */
.gradient-background {
  background: linear-gradient(300deg,#018c33,#02eb55,#018c33,#02eb55,#018c33,#02eb55);
  background-size: 300% 300%;
  animation: gradient-animation 20s linear infinite;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
